title=Acceptable Ads
description=Acceptable Ads are nonintrusive ad formats that are accepted by ad blocking users and allow content creators to monetize their content
custom=1

<div class="masthead">
  <div class="container"
       role="banner">
    <div class="row">
      <div class="col-7 push-5 graphics">
      </div>
      <div class="col-5 pull-7">
        <? include home/masthead ?>
      </div>
    </div>
  </div>
</div>

<div class="mentions">
  <div class="container">
    <? include home/media-mentions ?>
  </div>
</div>

<div id="advantages"
     class="advantages container section">
  <? include home/advantages ?>
</div>

<div class="exchange">
  <div class="container">
    <div class="row">
      <div class="col-6 push-6">
        <? include home/exchange ?>
      </div>
      <div class="col-6 pull-6 graphics">
      </div>
    </div>
  </div>
</div>
